<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>human data associates app</title>
</head>
<style>
    body {
        margin: 0;
    }
    main {
        display: flex;
    }
    #searchContainer {
        background-color: teal;
    }
    #addNewContainer {
        display: flex;
        flex-direction: column;
        background-color: lightcoral;
    }
    div {
        margin: 10px 20px;
        padding: 5px 15px;
    }
</style>
<body>
    <main>
        <div id="searchContainer">
            <p>Seach:</p>
            <input id="searchInput" list="people" type="text">
            <datalist id="people"></datalist>
        </div>
        <div id="addNewContainer">
            <p>Add new</p>
            <label for="nameInput">Name:</label>
            <input id="nameInput" type="text">
            <label for="ageInput">Age:</label>
            <input id="ageInput" type="text">
            <input type="submit" value="Add">
        </div>
    </main>
    <script src="./app.js"></script>
</body>
</html>