<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>human data associates app</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <main>
        <div id="searchContainer">
            <p>Seach:</p>
            <input id="searchInput" list="people" type="text">
            <datalist id="people"></datalist>
        </div>
        <div id="addNewContainer">
            <p>Add new</p>
            <form action="/" method="POST" name="newUser">
                <label for="nameInput">Name:</label>
                <input id="nameInput" type="text" name="name" pattern="[A-Za-z]{4,32}" required>
                <label for="ageInput">Age:</label>
                <input id="ageInput" type="number" min="1" max="150" name="age" required>
                <input id="submitBtn" type="submit" value="Add">
            </form>
            <span id="statusInfo"></span>
        </div>
    </main>
    <script src="./app.js"></script>
</body>
</html>